
    
.studio{
  text-align: center;
  color:white;
  padding-top: 120px;
}
.services{
  text-align: center;
  color:white;
  padding-top: 120px;
  
}
.third{
  text-align: center;
  color:white;
  margin-top:50px;
}
.zero{text-align: center;}

.table{text-align: center;
    margin-right: 150px;}
.port{text-align: center;}
.table4{
    justify-content:center;
    display:flex;
}
.contact{justify-content:center;
    display:flex;}
.table{ display:flex;
justify-content: space-between;} 
#two{text-align: center;}   

 .sec{text-align:center;}
.text{
    display: none;
}

div.contact-btn button {
    padding: 7px 10px;
    width: 150px;
    font-weight: bold;
    transition: border 0.2s;
    font-size: 1.2rem;
    color: #fff;

}
form.contact-us {
    background: transparent;
    padding-top: 20px; 
    color: white; 
}

form.contact-us input,
form.contact-us textarea,
div.contact-btn button {
    margin-bottom: 10px;
    padding: 7px 5px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

div.contact-btn button {
    padding: 7px 10px;
    width: 150px;
    font-weight: bold;
    transition: border 0.2s;
    font-size: 1.2rem;
    color: #fff;
}

div.contact-btn button:hover {
    border: 2px solid #fff;
}

input::placeholder {
   color: #fff;
}

textarea::placeholder{
    color: #fff;
}
