html{margin:80px;
    padding:100px;}
    
.main{background-image:url("/home/wecode/Home/delani/IP3/assets/backgrounds/h_img.jpg");
  height:500px;
  width:100%;
  text-align: center;
  color:white;
  padding-top: 120px;
}
.services{background-image:url(/home/wecode/Home/delani/IP3/assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    height:500px;
    width:100%;
  text-align: center;
  color:white;
  padding-top: 120px;
  font-family: bold;
  
}
.third{background-image:url(/home/wecode/Home/delani/IP3/assets/backgrounds/c_image.jpg);
 background-repeat: no-repeat;
  height:500px;
  width:100%;
  text-align: center;
  color:white;
  margin-top:50px;
  
}
.zero{text-align: center;}
.table{text-align: center;
    margin-right: 150px;}
.port{text-align: center;}
.table4{
    justify-content:center;
    display:flex;
}
.contact{justify-content:center;
    display:flex;}
.table{ display:flex;
justify-content: space-between;} 
#two{text-align: center;}   

 .sec{display:flex;
justify-content:space space-between}  
.text{
    display: none;
}
.input1{
   
    padding: 10px;
    margin-left: 200px;
}
.input2{
  
    padding: 10px;
}
.txt-a{
    background-color: transparent;
    margin-left: 200px;
}
input{
    background: transparent;
}